<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>springmvc</display-name>
  <!-- 
  	   1.加载spring的配置文件
  	   2.配置spring的监听器
  	   3.配置post乱码问题
  	   4.配置springmvc的前端控制器
   -->
  
  
	<!-- 1.加载spring的配置文件 -->  
 	<context-param>
  			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring.xml</param-value>
  	</context-param>
  	<!-- 2.配置spring的监听器 -->
  	<listener>
		<description>spring监听器</description>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- 3.配置post乱码问题 -->
    <filter>
		<description>字符集过滤器</description>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<description>字符集编码</description>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
     <!-- encoding filter for jsp page  字符集过滤器 -->  
    <filter-mapping>  
        <filter-name>encodingFilter</filter-name>  
        <url-pattern>/*</url-pattern>  
    </filter-mapping> 
    
   <!-- 解决get请求中文乱码的方法 -->
    
   <!--  对于get请求中文参数出现乱码解决方法有两个：
			1. 修改tomcat配置文件添加编码与工程编码一致，如下：
			<Connector URIEncoding="utf-8" connectionTimeout="20000" port="8080" protocol="HTTP/1.1" redirectPort="8443"/>

			2. 另外一种方法对参数进行重新编码：
			String userName = new String(request.getParamter("userName").getBytes("ISO8859-1"),"utf-8")
			ISO8859-1是tomcat默认编码，需要将tomcat编码后的内容按utf-8编码 
	-->
    
    <!-- 4.配置springmvc的前端控制器基于servlet -->
     <servlet>  
     
     	<description>springmvc的前端控制器基于servlet</description>
        <servlet-name>springMVC</servlet-name>  
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        
        <!-- 指定springmvc配置的加载位置，
        	如果不指定则默认加载WEB-INF/[DispatcherServlet 的Servlet 名字]-servlet.xml。 -->  
        <init-param>  
            <param-name>contextConfigLocation</param-name>  
            <param-value>classpath:spring-mvc.xml</param-value>  
        </init-param>  
        <load-on-startup>1</load-on-startup>  
    </servlet>  
    
    <servlet-mapping>
    	<servlet-name>springMVC</servlet-name>
    	<url-pattern>*.action</url-pattern>
    </servlet-mapping>
    
    <!-- 配置Session过期时间 -->
    <session-config>
    	<session-timeout>30</session-timeout>
  	</session-config>
    
</web-app>